*,
*::after,
*:before {
  box-sizing: border-box;
}

html {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  text-align: center;
  font-family: "Lato", "Roboto", sans-serif;
  background: burlywood;
  padding: 2px;
}

h1 {
  font-family: "Titillium Web", sans-serif;
}

button {
  border-radius: 3px;
  border: none;
  margin: 0 2px;
  padding: 1rem;
  min-width: 11.25rem;
}

.container {
  margin: 0.8rem;
}

.add-btn,
.remove-btn {
  font-size: 0.8rem;
  font-weight: bold;
}

.add-btn {
  background: chartreuse;
}

.remove-btn {
  background: crimson;
  color: #fff;
}

.subhead {
  padding: 4px;
}

.bg-slider-container {
  margin-top: 6rem;
}

.emoji-container {
  min-height: 2rem;
  margin-top: 2rem;
}

#input {
  min-width: 18.75em;
}
