*,
*::after,
*:before {
  box-sizing: border-box;
}

html {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  text-align: center;
  font-family: "Lato", "Roboto", sans-serif;
  padding: 2px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
}

h1,
a {
  font-family: "Titillium Web", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

button {
  border-radius: 3px;
  border: none;
  margin: 2px 2px;
  padding: 1rem;
  min-width: 11.25rem;
  cursor: pointer;
}

p {
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
  font-family: "Titillium Web", sans-serif;
}

a,
a::before,
a::after {
  color: #fff;
  text-decoration: none;
  transition: transform 0.2s;
}

a:hover {
  font-size: 1.8rem;
}

.bgContainer {
  background: url(/images/blue-swirls.jpg) center center;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 0 2000px rgba(25, 0, 150, 0.3);
}

.container {
  margin: 0.8rem;
}

.add-btn,
.remove-btn {
  font-size: 0.8rem;
  font-weight: bold;
}

.add-btn {
  background: chartreuse;
}

.remove-btn {
  background: crimson;
  color: #fff;
}

.subhead {
  padding: 4px;
}

.bg-slider-container {
  margin-top: 6rem;
  width: 100%;
}

.emojiContainer {
  min-height: 2rem;
  margin: 2rem;
}

.bg-slider {
  margin: 1rem;
}

#input {
  min-width: 18.75em;
  min-height: 2em;
}
